@import url("media_queries.css");
@import url("null.css");
body {
  font: 14px/1.7 "Roboto", sans-serif;
  color: #757575;
  font-weight: 400;
}

a {
  color: #212121;
  font-size: 14px;
  line-height: 1.5;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*=__container] {
  max-width: 1194px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  color: #000;
  font: 26px/1.5 "Raleway", sans-serif;
  font-weight: 700;
}
.logo__color {
  color: #2196f3;
}

.btn {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px 32px;
  border-radius: 12px;
  background-color: #2196f3;
  color: #fff;
}

.title {
  font-size: 36px;
  line-height: 1.3;
  font-weight: bold;
  color: #212121;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 80px;
  width: 100%;
}

.menu {
  margin: 0px 0px 0px 93px;
  display: flex;
  flex-wrap: wrap;
}
.menu__list {
  display: flex;
  align-items: center;
  margin: 0px 344px 0px 0px;
}
.menu__item:not(:last-child) {
  margin: 0px 50px 0px 0px;
}
.menu__link:hover {
  color: #2196f3;
}
.menu__info {
  display: flex;
  align-items: center;
}

.info__item:not(:last-child) {
  margin: 0px 50px 0px 0px;
}
.info__link:hover {
  color: #2196f3;
}

main {
  flex: 1 1 auto;
}

.services__bg {
  background-color: #2f303a;
}
.services__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 200px 30px;
}
.services__title {
  font-size: 44px;
  line-height: 1.3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
}
.services__btn {
  background-color: #b0d8f8;
}

.info {
  padding: 94px 0px;
}
.info__row {
  display: flex;
  justify-content: space-between;
  margin: 0px -5px;
}
.info__col {
  padding: 0px 5px;
}
.info__title {
  color: #212121;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.3;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}
.about-us {
  margin: 0px 0px 94px 0px;
}
.about-us__title {
  text-align: center;
  margin: 0px 0px 50px 0px;
}
.about-us__row {
  display: flex;
  margin: 0px -15px;
}
.about-us__img {
  flex: 1 1 33.333%;
  padding: 0px 15px;
}
.about-us__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__bg {
  background-color: #2f303a;
  padding: 60px 0px;
}
.footer__body {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer__body a {
  color: #fff;
}
.footer__item {
  margin: 0px 0px 9px 0px;
}
.footer__item:first-child {
  margin: 0px 0px 10px 0px;
}
.footer__item:last-child {
  margin: 0px;
}
.footer__item:nth-child(3) {
  color: #b0d8f8;
}
.footer__item:nth-child(4) {
  color: 255, 255, 255, 0.6;
}
/* media queries */
@media (max-width: 1199px) {
  .menu {
    margin: 0px 0px 0px 40px;
  }
  .menu__list {
    margin: 0px 144px 0px 0px;
  }
  .menu__item:not(:last-child) {
    margin: 0px 30px 0px 0px;
  }
}
@media (max-width: 991px) {
  .menu {
    margin: 0px 0px 0px 40px;
  }
  .info__item:not(:last-child) {
    margin: 0px 30px 0px 0px;
  }
  .services__body {
    padding: 100px 20px;
  }
}
@media (max-width: 767px) {
  .services__body {
    padding: 70px 20px;
  }
  .info__row {
    flex-direction: column;
    align-items: center;
  }
  .info__item {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */