@import url("media_queries.css");
@import url("null.css");
body {
  font:
    14px/1.7 "Roboto",
    sans-serif;
  color: #757575;
  font-weight: 400;
}
a {
  color: #212121;
  font-size: 14px;
  line-height: 1.5;
}
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
[class*="__container"] {
  max-width: 1194px;
  margin: 0 auto;
  padding: 0 15px;
}
.btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px 32px;
  border-radius: 12px;
  background-color: #2196f3;
  color: #fff;
}
// header-------------------------------------------------------
.header {
  &__container {
    display: flex;
    align-items: center;
    min-height: 80px;
    width: 100%;
  }
}
.logo {
  color: #000;
  font:
    26px/1.5 "Raleway",
    sans-serif;
  font-weight: 700;
  &__color {
    color: #2196f3;
  }
}
.menu {
  margin: 0px 0px 0px 93px;
  display: flex;
  flex-wrap: wrap;
  &__list {
    display: flex;
    align-items: center;
    margin: 0px 344px 0px 0px;
  }
  &__item:not(:last-child) {
    margin: 0px 50px 0px 0px;
  }
  &__link:hover {
    color: #2196f3;
  }
  &__info {
    display: flex;
    align-items: center;
  }
}
.info {
  &__item:not(:last-child) {
    margin: 0px 50px 0px 0px;
  }
  &__link:hover {
    color: #2196f3;
  }
}
// main-------------------------------------------------------
main {
  flex: 1 1 auto;
}
// services-------------------------------------------------------
.services {
  // .services__bg

  &__bg {
    background-color: #2f303a;
  }

  // .services__container

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 200px 30px;
  }

  // .services__title

  &__title {
    font-size: 44px;
    line-height: 1.3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 0px 30px 0px;
  }

  // .services__btn

  &__btn {
    background-color: #b0d8f8;
  }
}
//info-------------------------------------------------------
.info {
  // .info__container
  padding: 94px 0px;
  &__container {
  }

  // .info__row

  &__row {
    display: flex;
    justify-content: space-between;
    margin: 0px -5px;
  }

  // .info__col

  &__col {
    padding: 0px 5px;
  }

  // .info__item

  &__item {
  }

  // .info__title

  &__title {
    color: #212121;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.3;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
  }

  // .info__text

  &__text {
  }
}
// header-------------------------------------------------------

/* media queries */

@media (max-width: 1199px) {
  .menu {
    margin: 0px 0px 0px 40px;
    &__list {
      margin: 0px 144px 0px 0px;
    }
    &__item:not(:last-child) {
      margin: 0px 30px 0px 0px;
    }
  }
}
@media (max-width: 991px) {
  .menu {
    margin: 0px 0px 0px 40px;
  }
  .info {
    &__item:not(:last-child) {
      margin: 0px 30px 0px 0px;
    }
  }
  .services {
    &__body {
      padding: 100px 20px;
    }
  }
}
@media (max-width: 767px) {
  .services {
    &__body {
      padding: 70px 20px;
    }
  }
  .info {
    &__row {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      text-align: center;
    }
  }
}
